<div class="ui card">
  <div class="image">
    <img src="<%= theme.img %>">
  </div>
  <div class="content">
    <div class="header"><%= theme.name %></div>
    <div class="meta">
      <a class="group">by <%= theme.author %></a>
    </div>
    <div class="description"><%= theme.description %></div>
  </div>
  <div class="extra content">
    <a target="_blank" href="<%= theme.source_url %>">View Source</a>
    <a target="_blank" href="https://github.com/melvinsh/protonmail-themes" class="right floated">Report Issue</a>
  </div>
</div>